<html>
<head>
    <link type="Image" href="~/Content/Images/Capture.png" rel="shortcut icon">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -EMPMGMT</title>



    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/css/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/css/pace.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/editor/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/toastr.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style type="text/css">
        .rows {
            padding-top: 40px;
            padding-left: 20px;
        }
    </style>
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">

    <div class="wrapper">
             <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>Emp Mgmt</b></span>
                <span class="logo-lg"><b>Emp Mgmt</b>- Software</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               
                                <span class="hidden-xs">@Session["FirstName"] @Session["LastName"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/images/default.png" class="img-circle" />
                                    <p>
                                        @Session["FirstName"] @Session["LastName"] - @Session["role"] 
                                        <small>Currently Active</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/Profile/Index" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Login/Index" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>  
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/images/default.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@Session["FirstName"] @Session["LastName"]</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
               @* <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>*@
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header" style="text-align:center;">@Session["role"]</li>


                @if (Session["role"].ToString() == "Head")
                {

                    <li>
                        <a href="~/Dashboard/Head">
                            <i class="fa fa-th"></i> <span>Dashboard</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>


                    <li>
                        <a href="~/CaseAssignments/AssignedTask">
                            <i class="fa fa-th"></i> <span>Assign Cases</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/CaseAssignments/Index">
                            <i class="fa fa-th"></i> <span>Pending Cases</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/CaseAssignments/TotalCompletedTask">
                            <i class="fa fa-th"></i> <span>Completed Cases</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Employees/Index">
                            <i class="fa fa-th"></i> <span>Employee</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>

                    @*   <li>
                <a href="~/Leaves/ApproveLeave">
                    <i class="fa fa-th"></i> <span>Approve Leave</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                    </span>
                </a>
            </li>*@
                }
                @if (Session["role"].ToString() == "Admin")
                {

                    <li>
                        <a href="~/Dashboard/Admin">
                            <i class="fa fa-th"></i> <span>Dashboard</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>



                    <li class="treeview menu-open">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>Setting</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="display: block;">
                            <li><a href="~/Services/Index"><i class="fa fa-circle-o"></i> Services</a></li>
                            <li><a href="~/Roles/Index"><i class="fa fa-circle-o"></i> Role</a></li>
                            <li><a href="~/LeaveReasons/Index"><i class="fa fa-circle-o"></i> Leave Reason</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="~/Accounts/Index">
                            <i class="fa fa-th"></i> <span>Account Management</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                }
                @if (Session["role"].ToString() == "HR")
                {

                    <li>
                        <a href="~/Dashboard/HR">
                            <i class="fa fa-th"></i> <span>Dashboard</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>



                    <li>
                        <a href="~/Employees/Index">
                            <i class="fa fa-th"></i> <span>Employee Registration</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Leaves/Index">
                            <i class="fa fa-th"></i> <span>Leave Managment</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Messages/Index">
                            <i class="fa fa-th"></i> <span>Add Post</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>

                }
                @if (Session["role"].ToString() == "CustomerService")
                {


                    <li>
                        <a href="~/Dashboard/CustomerService">
                            <i class="fa fa-th"></i> <span>Dashboard</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>



                    <li>
                        <a href="~/Customers/Index">
                            <i class="fa fa-th"></i> <span>Customer Registration</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="~/CustomerCas/Index">
                            <i class="fa fa-th"></i> <span>Customer Case</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/CustomerCas/CaseCompletionApproval">
                            <i class="fa fa-th"></i> <span>Case Completion</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                }
                @if (Session["role"].ToString() == "Employee")
                {

                    <li>
                        <a href="~/Dashboard/Employee">
                            <i class="fa fa-th"></i> <span>Dashboard</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>



                    <li>
                        <a href="~/CaseAssignments/AssignedTask">
                            <i class="fa fa-th"></i> <span>Assigned Tasks</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="~/CaseAssignments/CompletedTask">
                            <i class="fa fa-th"></i> <span>Completed Tasks</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                }

                <li>
                    <a href="~/Leaves/Create">
                        <i class="fa fa-th"></i> <span>Apply Leave</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">new</small>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="~/Profile/Index">
                        <i class="fa fa-th"></i> <span>Profile</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">new</small>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="~/Messages/Create">
                        <i class="fa fa-th"></i> <span>Posts</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">new</small>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="~/Messages/Index">
                        <i class="fa fa-th"></i> <span>Messaging</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">new</small>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="~/Login/ChangePassword">
                       
                        <i class="fa fa-th"></i> <span>Change Password</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">new</small>
                        </span>
                    </a>
                </li>

            </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
       

        <div class="content-wrapper">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>@Html.ActionLink("Developer", "Developer", "Dashboard")</b>
            </div>
            <strong>Copyright &copy;@DateTime.Now.Year <a href="#">EMPLOYEE MANAGEMENT SYSTEM</a>.</strong> All rights
            reserved.
        </footer>

    </div>
<script src="~/Content/js/jquery.min.js"></script>
        <script src="~/Content/js/jquery-ui.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/adminlte.min.js"></script>
        <script src="~/Content/js/pace.min.js"></script>
        <script src="~/Content/DataTables/jquery.dataTables.min.js"></script>
        <script src="~/Content/DataTables/dataTables.bootstrap.min.js"></script>
        <script src="~/Content/js/main.js"></script>
        <script src="~/Content/editor/bootstrap3-wysihtml5.all.min.js"></script>
        <script src="~/Content/js/select2.min.js"></script>
        <script src="~/Content/js/de.js"></script>
        <script src="~/Content/js/toastr.js"></script>

        
        <script>
        $(document).ready(function () {
            $("#tbl").DataTable();
            $(".selection").select2({
                placeholder: "Choose"
            });
            $("#textarea").wysihtml5();
            $('.datepicker').datepicker();
        });
        </script>
  
        @RenderSection("scripts", required: false)












</body>

</html>


